.scroll-section-outer {
    overflow: hidden;
    scroll-behavior: smooth;
}

.scroll-section-inner {
    height: 100vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
    scroll-behavior: smooth;
}

.scroll-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.scroll-section h3 {
    color: var(--primaryTextColor);
    letter-spacing: var(--headlineMedium);
    font-size: var(--headlineMedium);
    text-transform: uppercase;
}